{% extends 'base.html.twig' %}

{% block title %}Libros{% endblock %}
{% block body %}
    <h1>Ficha de libro</h1>
    {% if libro %}
        {{ include ('datos_libro.html.twig', { 'libro': libro }) }}
    {% else %}
        <p>libro no encontrado</p>
    {% endif %}
{% endblock %}