{% extends 'base.html.twig' %}

{% block title %}Libros{% endblock %}
{% block body %}
    <h1>Listado de libros</h1>
    {% if libros %}
        {% for libro in libros %}
            {{ include ('datos_contacto.html.twig', { 'libro': libro }) }}
        {% endfor %}
    {% else %}
        <p>No se han encontrado libros</p>
    {% endif %}
{% endblock %}